<%# Single denomination field %>
<div class="flex items-start space-x-3" data-nested-form-target="item">
  <%# Value field %>
  <div class="flex-grow">
    <div class="relative">
      <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
        <span class="text-primary-400 font-mono">$</span>
      </div>
      <%= f.number_field :value,
          class: "w-full bg-primary-800/50 border-primary-700/50 rounded-lg pl-8 pr-3 py-2
                  font-mono text-primary-50 focus:border-secondary-400 focus:ring-1 focus:ring-secondary-400
                  [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none",
          step: "0.01",
          placeholder: "0.00" %>
    </div>
  </div>

  <%# Color picker %>
  <div class="w-32">
    <%= f.select :color, GameFormat::VALID_COLORS.keys,
        {}, # Empty options hash
        class: "w-full bg-primary-800/50 border-primary-700/50 rounded-lg px-3 py-2
                font-mono text-primary-50 focus:border-secondary-400 focus:ring-1 focus:ring-secondary-400" %>
  </div>

  <%# Remove button %>
  <button type="button" data-action="nested-form#remove"
      class="p-2 rounded-lg text-primary-400 hover:text-red-400 hover:bg-primary-800/50">
    <%= tabler_icon('trash', size: 20) %>
  </button>

  <%= f.hidden_field :_destroy %>
</div> 